/* core content */

body {
	font-family: 'Cardo', serif;
	font-size: 14pt;
	color: black;
	margin: 0;
	padding: 0;
	background-image: url(../images/parchment.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.maincontent {
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
}

section {
	padding-bottom: 5px;
}

h3 {
	color: #AA0B1A;
	font-size: 20pt;
	margin-bottom: -10px;
}

h4 {
	color: #438235;
	font-size: 16pt;
	margin-bottom: -15px;
}

li {
	margin-bottom: 10px;
}

/* heading */

#heading {
	background-image: url(../images/parchment.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 10px 20px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 10px 20px 0px rgba(50, 50, 50, 0.4);
	width: 100%;
	margin: auto;
	position: fixed;
	top: -5px;
	transition-duration: .3s;
}

#heading h1, h2 {
	text-align: center;
	color: #992c36;
}

#heading h1 {
	font-size: 36px;
	margin-top: 5px;
	margin-bottom: -25px;
}

#heading h2 {
	font-size: 22px;
	margin-bottom: 5px;
	/*border-bottom: 4px solid;*/
}

#topping {
	text-align: center;
	height: 375px;
}

#headimg {
	height: 240px;
	top: 0;
	margin-top: 125px;
}

/* summary */

#summary {
	margin: 25px;
	border-top: 1.5px solid #992c36;
	border-bottom: 1.5px solid #992c36;
}

#summary p:nth-of-type(1) {
	color: #316d3e;
	display: inline-block;
	width: 70%;
}
#summary p:nth-of-type(2) {
	display: inline-block;
	width: 25%;
	margin-top: 18px;
	text-align: right;
}


/* body */

.optional {
	font-style: italic;
}

ul {
	padding-right: 17px;
}

ol {
	padding-left: 50px;
	padding-right: 17px;
}

#steps {
	padding-bottom: 25px;
}

/* footer */

#footer{
	border-top: 1.5px solid #992c36;
}

#footer p {
	padding-left: 25px;
	font-size: 12pt;
	font-style: italic;
}

#footer p a {
	text-decoration-color: #316d3e;
	color: #316d3e;
}
