/* base */

body {
	color: #333;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

#main_content {
	margin: 40px;
}

h1 {
	font-size: 30px;
	margin-bottom: 40px;
}

.button_container {
	border: 1px solid #ddd;
	margin: 0 10px 10px 0;
	padding: 20px;
	width: 300px;
	height: 300px;
	float: left;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
}

/* keyframes */

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}

@keyframes spin {
	from { transform:rotateY(0); }
	
	to { transform:rotateX(360deg); }
}

@keyframes shake{
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%, 80% {
		transform: translate3d(6px, 0, 0);
	}
	30%, 50%, 70%{
		transform: translate3d(-4px, 0, 0);
	}
	40%, 60%{
		transform: translate3d(6px, 0, 0);
	}
}

/* buttons */

a#btn_spotify {
	display: inline-block;
	height: 50px;
	box-sizing: border-box;
	border-radius: 25px;
	margin: auto;
	margin-top: 100px;
	padding: 10px 40px 0 40px;
	background-color: #2ebd59;
	border: 2px solid #2ebd59;
	color: #fff;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_spotify:hover {
	background-color: #fff;
	border: 2px solid #000;
	color: #000;
}


a#btn_twitter {
	display: inline-block;
	height: 40px;
	box-sizing: border-box;
	border-radius: 4px;
	margin: auto;
	margin-top: 105px;
	padding: 10px 30px 0 30px;
	background-color: #56cdf1;
	color: #fff;
	font-size: 18px;
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_twitter:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
	background: #2ebfec; /* Old browsers */
	background: -moz-linear-gradient(top,  #2ebfec 0%, #28a5cb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2ebfec), color-stop(100%,#28a5cb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2ebfec 0%,#28a5cb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2ebfec 0%,#28a5cb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=0 ); /* IE6-9 */
}


a#btn_amazon {
	display: block;
	width: 100px;
	height: 100px;
	box-sizing: border-box;
	border-radius: 50px;
	margin: auto;
	margin-top: 75px;
	padding-top: 8px;
	background-color: #232f3e;
	color: #fff;
	text-align: center;
	font-size: 60px;
}

a#btn_amazon:hover {
	background-color: #fc9a18;
}


a#btn_indiegogo {
	display: inline-block;
	margin:auto;
	margin-top: 100px;
	padding: 8px 16px;
	background-color: #fff;
	color: #eb1478;
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -2px;
}

a#btn_indiegogo:hover {
	color: #fff;
	background-color: #eb1478;
}

/* my buttons */

a#btn_cocacola {
	display: inline-block;
	height: 300px;
}

a#btn_cocacola:hover {
	transition: .5s;
	animation: bounce 1s;
}

a#btn_apple {
	display: inline-block;
	text-decoration: none;
	color: gray;
	text-align: center;
	font-size: 150px;
	margin-top: 20px;
}

a#btn_apple:hover {
	transition-duration: .5s;
	color: black;
}

a#btn_ibm img {
	padding-top: 35px;
	width: 150px;
	display: inline-block;
	margin-top: 60px;
}

a#btn_ibm:hover {
	transition-duration: .15s;
	border-bottom: 4px solid navy;
}

a#btn_harley {
	display: inline-block;
	margin-top: 65px;
	margin-right: 5px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a#btn_harley:hover {
	border-radius: 100%;
	-webkit-transform: rotate(720deg);
	-moz-transform: rotate(720deg);
	-o-transform: rotate(720deg);
	-ms-transform: rotate(720deg);
	transform: rotate(720deg);
}

a#btn_mkors {
	display: inline-block;
	height: 50px;
	box-sizing: border-box;
	border-radius: 15px;
	margin-top: 100px;
	padding: 12px 40px 0 40px;
	border: 2px solid white;
	background-color: white;
	color: black;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	text-decoration: none;
}

a#btn_mkors:hover {
	transition-duration: .25s;
	color: white;
	background-color: #7a7a7a;
	border: 2px solid #7a7a7a;
	}

a#btn_ideo {
	display: inline-block;
	height: 100px;
	box-sizing: border-box;
	margin-top: 90px;
	color: #1c387a;
	font-size: 24pt;
	font-family: 'Slabo 27px', serif;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 4px;
}

a#btn_ideo:hover {
	transition-duration: .15s;
	color: #f4dc04;
	text-shadow: 4px 4px 20px rgba(200, 200, 200, 1);
}

a#btn_sardella {
	display: block;
	width: 225px;
	height: 125px;
	border-radius: 5px;
	margin: auto;
	margin-top: 70px;
	background-color: #1c387a;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 72px;
	font-family: 'Six Caps', sans-serif;
	letter-spacing: 5px;
	line-height: 125px;
}

a#btn_sardella:hover {
	transition-duration: .25s;
	background-color: #2ac6ed;
}

a#btn_lyft {
	display: inline-block;
	height: 50px;
	box-sizing: border-box;
	border-radius: 25px;
	margin-top: 100px;
	padding: 8px 40px 0 40px;
	background-color: #fff;
	border: 3px solid #ef589f;
	color: #ef589f;
	font-size: 26px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-decoration: none;
}

a#btn_lyft:hover {
	transition: 0.3s;
	border-radius: 25px;
	background-color: #ef589f;
	border: 3px solid #ef589f;
	color: #fff;
}

a#btn_samsung {
	display: inline-block;
	width: 200px;
	height: 25px;
	margin-top: 115px;
	background-image: url("http://pngimg.com/uploads/samsung_logo/samsung_logo_PNG9.png");
	background-size: 150px;
	background-position: center;
	background-repeat: no-repeat;
}

a#btn_samsung:hover {
	transition: .25s;
	transform: scale(1.5);
}

a#btn_cartoonnetwork {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin-top: 25px;
	background-image: url("https://i.pinimg.com/originals/46/6f/20/466f20cd976aadb282af5f3153449385.png");
	background-size: 200px;
	background-position: center;
	background-repeat: no-repeat;
}

a#btn_cartoonnetwork:hover {
	animation: spin 2s cubic-bezier(0.25, 0.5, 0.25, 0.75) infinite;
}

a#btn_ofa {
	display: inline-block;
	width: 125px;
	height: 75px;
	margin-top: 90px;
	text-decoration: none;
	background-color: white;
	border: 2px solid #53BCD6;
	color: #53BCD6;
	font-family: 'Open sans', sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 75px;
}

a#btn_ofa:hover {
	transition-duration: .3s;
	background-color: #53BCD6;
	border: 2px solid #53BCD6;
	color: white;
}

a#btn_nike {
	display: block;
	width: 150px;
	height: 55px;
	margin: auto;
	margin-top: 95px;
	text-decoration: none;
	text-align: right;
	padding-top: 16px;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Logo_NIKE.svg/1200px-Logo_NIKE.svg.png");
	background-size: 150px;
	background-repeat: no-repeat;
}

a#btn_nike:hover {
	transition-duration: .3s;
	animation: shake .75s cubic-bezier(.35,.05,.2,.95) both;
	transform: translate3d(0,0,0);
	backface-visibility: hidden;
	perspective: 1000px;
}

a#btn_mbg {
	display: inline-block;
	width: 100px;
	height: 80px;
	margin-top: 85px;
	text-decoration: none;
	color: #4a6725;
	font-family: 'Marcellus SC', serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 80px;
	border: 2px solid #fff;
	overflow: hidden;
	background-position: -180px;
}

a#btn_mbg:hover {
	transition: .3s;
	width: 250px;
	border: 2px solid #4a6725;
}




