body {
	margin: 0;
	padding: 0;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 18px;
	/*margin: 0;*/
}

.title {
	padding-top: 45px;
	margin-top: 0;
	font-size: 40px;
	text-align: center;
	letter-spacing: 1.25px;
	color: black;
}

/*section 1*/

header {
	padding-top: 163px;
	padding-bottom: 100;
	text-align: center;
	color: black;
}

#section1 {
	background-image: url("https://i.pinimg.com/originals/d2/bc/02/d2bc02878019c5a2ddbeb5ea2164a2b1.png");
	background-size: contain;
	background-position: right;
	background-color: #fffdfb;
	background-repeat: no-repeat;
	height: 480px;
}

header h1 {
	font-size:80px;
	margin-top: 0;
	margin-bottom: 13px;
	letter-spacing: 1.5px;
}

header h2 {
	font-size: 30px;
	margin-top: 0;
	letter-spacing: 1px;
}

/*section 2*/

#section2 .contents {
	background-color: #f4d942;
	height: 715px;
	box-sizing: border-box;
}

#section2 .contents p{
	margin: 35px 200px 0 200px;
	padding-left: 25px;
	padding-right: 20px;
	line-height: 25px;
	text-align: left;
	color: black;
}

#section2 .contents img {
	float: right;
	margin: 5px 225px 35px 40px;
	width: 400px;
	height: 300px;
	border: 1px solid black;
}

#section2 .contents #p1 {
	margin-top: 37px;
	margin-right: 640px;
}

#section2 .contents #p2 {
	margin-top: 17px;
	margin-right: 185px
}

#section2 .contents #p3 {
	margin-top: 15px;
	margin-right: 200px;
}

/*section 3*/

#section3 {
	background-color: #fca22c;
	height: 685px;
}
#section3 .contents{
	margin: auto;
	width: 960px;
	height: 500px;
	margin-top: 35px;
}
.leftside{
	float:left;
	width: 50%;
	height: 33.4%;
	padding-bottom: 8px;
}

.rightside{
	width: 50%;
	height: 33.4%;
	float: right;
	padding-bottom: 8px;
}

.gridimage{
	width: 200px;
	height: 150px;
	padding-bottom: 10px;
}

.description{
	float: right;
	width: 268px;
	height: 150px;
}

.phototitle{
	text-align: left;
	font-size: 22px;
	font-weight:bold;
}

.phototext{
	margin-top: 0;
	padding-top: 9px;
	width: 210px;
	line-height: 25px;
}

/*section 4*/

#section4{
	background-color: #812235;
	height: 401px;
}

#section4 .title{
	margin-bottom: 38px;
	color: white;
}

#section4 p{
	margin: auto;
	width: 713px;
	font-size: 26px;
	line-height: 35px;
	text-align: center;
	color: white;
}

/*footer*/

#footer{
	background-color: #fffdfb;
	height: 100px;
	width: 965px;
	margin: auto;
	margin-top: 20px;
}

#copyright{
	padding-top: 22px;
	padding-left: 2px;
	font-size: 18px;

}