body {
	font-family: 'Cardo', serif;
	font-size: 12pt;
	color: black;
	margin: 0;
	padding: 0;
}

.maincontent {
	margin-top: 100px;
	margin-left: 25px;
	margin-right: 25px;
}

h3 {
	color: #992c36;
	font-size: 18pt;
	margin-bottom: 40px;
}

section {
	padding-bottom: 15px;
}

#heading h1, h2 {
	text-align: center;
	padding-left: 25px;
	color: #992c36;

}

#heading h1 {
	font-size: 36px;
	margin-bottom: 5px;
}

#heading h2 {
	font-size: 28px;
	margin-top: 0px;
	padding-bottom: 25px;
	border-bottom: 4px solid;
}

#headimg {
	height: 480px;
	margin-left: 25px;
	top: 0;
}

ol {
	padding-inline-start: 15px;
}

#footerimg {

}