body {
	font-family: 'Cardo', serif;
	font-size: 10pt;
	color: black;
	margin: 0;
	padding: 0;
	background-color: #fcf8e8;
}

.maincontent {
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
}

h3 {
	color: #992c36;
	font-size: 14pt;
	margin-bottom: 40px;
}

hr {
	color: #992c36;
}

section {
	padding-bottom: 15px;
}

#heading h1, h2 {
	text-align: center;
	color: #992c36;

}

#heading h1 {
	font-size: 30px;
	margin-bottom: 5px;
}

#heading h2 {
	font-size: 20px;
	margin-top: 0px;
	padding-bottom: 25px;
	border-bottom: 4px solid;
}

#headimg {
	height: 240px;
	top: 0;
	margin-left: 25px;
}

ol {
	padding-left: 15px;
}

#footerimg {

}