html, body {
	height: 100%;
	font-family: henriette, sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
}

body>div {
	height: 100%;
	position: relative;
	background-image: url(../images/irohC-landscape.jpg);
	background-size: cover;
	background-position: center right;
}

a {
	display: block; /* turn the inline element into a box */
	position: fixed; /* position the anchor fixed to the viewport */
	top: 0; /* have the top edge of the anchor touch the the top of the viewport */
	bottom: 0;  /* have the bottom edge of the anchor touch the the bottom of the viewport */
	left: 0;  /* have the left edge of the anchor touch the the left of the viewport */
	right: 0;  /* have the right edge of the anchor touch the the right of the viewport */
	z-index: 100; /* make sure the anchor is the highest thing in the stack order of all elements */
}

.quote {
	font-family: henriette, sans-serif;
	position: absolute;
	left: 5em;
	top: 9%;
	color: #fff;
	max-width: 45%;
	text-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.message {
	font-size: 1.5em;
	text-align: left;
}

.attribution {
	margin-top: 0.5em;
	margin-right: 0.5em;
	font-size: 1.25em;
	text-align: left;
}

@media (max-width: 900px) {
	body>div {
		background-image: url(../images/irohC-portrait.jpg);
		background-position: center right;
	}

	.message {
		font-size: 1.25em;
	}
}

@media (max-width: 600px) {
	body>div {
		background-image: url(../images/irohC-headshot.jpg);
		background-position: center top;
	}

	.quote {
		max-width: 60%;
	}

	.message {
		font-size: 1.25em;
	}
}



/*text-indent: -0.5em;*/